
.SyncID
.SyncIgnore
.SyncTrash

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcworkspace/contents.xcworkspacedata
.DS_Store

ios/SevenMinutes/config.xml
ios/www/js/app.js
ios/www/js/libs
ios/www/css
ios/CordovaLib/build/
ios/build/

*swp
*swo

cui.bundle/node_modules

cui.bundle/public/js/app*
ios/www/js/app*
*map

id_rsa*

